

  <div class="container">
    <div class="row">
      <div class="col">
        
      </div>

      <div class="col">
        <div>
            <h3>Ingresar</h3>
        </div>      
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Correo</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="digite su correo">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">contraseña</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Digite contraseña" class="form-control" required>
            
          </div>
          <select class="form-select  mb-3" aria-label=".form-select-lg example">
            <option selected>Seleccione el idioma</option>
            <option value="1">Ingles</option>
            <option value="2">Español</option>           
          </select>

          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button" href="#">Ingresar</button>
         </div>
          
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>